<style>
  .list-video {
    /* display: flex; */
    position: relative;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100%; */
    width: 100%;
  }

  .slider {
    display: block;
    /* overflow: scroll; */
    position: relative;
    /* align-content: center; */
  }

  .slide a {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border: solid white;
    border-width: 0 4px 4px 0;
    box-sizing: border-box;
  }

  a.slide__prev {
    justify-content: center;

    transform: translateY(-50%) rotate(135deg);
    -webkit-transform: translateY(-50%) rotate(135deg);
    left: 5px;
  }

  a.slide__next {
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    right: 5px;
  }
  .left-trans {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background: linear-gradient(
      149deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .right-trans {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    background: linear-gradient(
      149deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>

<div class="list-video">
  <div class="slide">
    <div
      #ItemContainer
      style="
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        width: 100%;
      "
    >
      <ng-template ngFor let-playlist [ngForOf]="playlists" let-i="index">
        <card-playlist
          [playlistModel]="playlist"
        ></card-playlist>
      </ng-template>
    </div>
    <div class="left-trans" [hidden]="hideBackButton"></div>
    <div class="right-trans" [hidden]="hideNextButton"></div>
    <a
      class="slide__prev"
      title="Prev"
      (click)="onClickLeft()"
      [hidden]="hideBackButton"
    ></a>
    <a
      class="slide__next"
      title="Next"
      (click)="onClickRight()"
      [hidden]="hideNextButton"
    ></a>
  </div>
</div>
