<!-- Player -->
<div>
  <iframe
    class="w-full"
    height="600"
    src="https://www.youtube.com/embed/zMlLldpCmnE"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<!-- video info -->
<div>
  {{ videoDetail.name }}
  <div>
    <div>
      <img src="{{ videoDetail.channelModel.avatar }}" />
      {{ videoDetail.channelModel.name }}
      {{ videoDetail.channelModel.subcribers }}
      <button value="Subscribe"></button>
    </div>
    <div>
      <div>
        <button value="">{{ videoDetail.likes }}</button>
        <button value="">Share</button>
        <button value="">Clip</button>
        <button value="">Save</button>
        <button value="">More</button>
      </div>
    </div>
  </div>
</div>

<!-- Description -->
<div>
  {{ videoDetail.description}}
</div>

<!-- Comments -->
<div>
  
</div>