<style>
  .player-container {
    background-color: red;
    width: 100%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
  }

  .player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
</style>
<!-- Player -->
<div class="player-container">
  <div class="player">
    <iframe
      class="w-full"
      height="100%"
      src="https://www.youtube.com/embed/zMlLldpCmnE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<!-- video info -->
<div>
  {{ videoDetail.name }}
  <div>
    <div>
      <img src="{{ videoDetail.channelModel.avatar }}" />
      {{ videoDetail.channelModel.name }}
      {{ videoDetail.channelModel.subcribers }}
      <button value="Subscribe"></button>
    </div>
    <div>
      <div>
        <button value="">{{ videoDetail.likes }}</button>
        <button value="">Share</button>
        <button value="">Clip</button>
        <button value="">Save</button>
        <button value="">More</button>
      </div>
    </div>
  </div>
</div>

<!-- Description -->
<div>
  {{ videoDetail.description }}
</div>

<!-- Comments -->
<div></div>
