/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #181818;
  color: white;
}
.app {
  color: white;
  min-height: 100%;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  padding: 0 8px;
}
