<div class="page-header">
  <!-- Left section -->
  <div class="page-header-start">
    <div class="icon-svg" (click)="onClickHamberger()">
      <svg
        viewBox="0 0 24 24"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
        class="style-scope yt-icon"
        style="pointer-events: none; display: block; width: 100%; height: 100%"
      >
        <g class="style-scope yt-icon">
          <path
            d="M21,6H3V5h18V6z M21,11H3v1h18V11z M21,17H3v1h18V17z"
            class="style-scope yt-icon"
          ></path>
        </g>
      </svg>
    </div>
  </div>

  <!-- Center section -->
  <div class="page-header-center">
    <div class="search-box">
      <div class="search-form"><input name="search" placeholder="Search" style="width: 100%; height: 40px; background-color: transparent;" /></div>
      <div class="search-button">
      <div class="icon-svg">
        <svg
          viewBox="0 0 24 24"
          preserveAspectRatio="xMidYMid meet"
          focusable="false"
          class="style-scope yt-icon"
          style="
            pointer-events: none;
            display: block;
            width: 100%;
            height: 100%;
          "
        >
          <g class="style-scope yt-icon">
            <path [attr.d]="Constant.search_svg_d"></path>
          </g>
        </svg>
      </div>
    </div>
    </div>
    <div>
      <div class="icon-svg">
        <svg
          viewBox="0 0 24 24"
          preserveAspectRatio="xMidYMid meet"
          focusable="false"
          class="style-scope yt-icon"
          style="
            pointer-events: none;
            display: block;
            width: 100%;
            height: 100%;
          "
        >
          <g class="style-scope yt-icon">
            <path [attr.d]="Constant.mic_svg_d"></path>
          </g>
        </svg>
      </div>
    </div>
  </div>

  <!-- Right section -->
  <div class="page-header-end">
    <div class="icon-svg">
      <svg
        viewBox="0 0 24 24"
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
        class="style-scope yt-icon"
        style="pointer-events: none; display: block; width: 100%; height: 100%"
      >
        <g class="style-scope yt-icon">
          <path [attr.d]="Constant.bell_svg_d"></path>
        </g>
      </svg>
    </div>
  </div>
</div>
