.left-menu {
    width: 240px;
    padding: 0 16px;
    display: block;
}

.left-meu-item {
    height: 40px;
    display: flex;
    align-items: center;

    stroke: white;
    stroke-width: 1px;
}

.left-meu-item-selected {
    height: 40px;
    display: flex;
    align-items: center;
    fill: white;
}

.expanded-item-icon {
    width: 24px; 
    height: 24px; 
    margin-right: 24px;
}