<div [ngClass]="currentLeftMenuMode == LeftMenuMode.minimize ? 'left-menu-minimize' : 'left-menu'">
<ng-container *ngFor="let section of sections, let i = index">
    <div style="border-top: 1px solid; border-color: #ffffff11;">
    <h2 [hidden]="section.name.length == 0">{{ section.name }}</h2>
    <ng-container *ngFor="let item of section.items">
       <div [ngClass]="item.id == selectedItemID ? 'left-meu-item-selected' : 'left-meu-item'"  (click)="onSelectedItem(item.id)">
            <div class="expanded-item-icon">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g class="style-scope yt-icon"><path [attr.d]="item.id == selectedItemID ? item.iconActiveSVGPath : item.iconSVGPath" class="style-scope yt-icon"></path></g></svg>
            </div>
            <ng-container *ngIF="currentLeftMenuMode != LeftMenuMode.minimiz">
                {{ item.name }}
            </ng-container>
            
        </div>
    </ng-container>
    <div [hidden]="subscriptions.length <= 0">
        <ng-container *ngIF="currentLeftMenuMode != LeftMenuMode.minimiz">
        <div>Subscriptions</div>
        </ng-container>

    <ng-container *ngFor="let item of subscriptions">
        <div [ngClass]="item.id == selectedItemID ? 'left-meu-item-selected' : 'left-meu-item'"  (click)="onSelectedItem(item.id)">
            <div class="expanded-item-icon">
                <img href="item.image" />
            </div>
            <ng-container *ngIF="currentLeftMenuMode != LeftMenuMode.minimiz">
                {{ item.name }}
            </ng-container>
        </div>
    </ng-container>
</div>
    </div>
</ng-container>
</div>
