.left-menu {
    width: 240px;
    display: block;
}

.left-menu-minimize {
    width: 64px;
    display: flex;
    flex-direction: column;
}

.left-meu-item {
    height: 40px;
    display: flex;
    align-items: center;

    stroke: white;
    stroke-width: 1px;
    font-size: small;
    cursor: pointer;
}

.left-meu-item-selected {
    height: 40px;
    display: flex;
    align-items: center;
    fill: white;
    font-size: small;
    cursor: pointer;
}

.expanded-item-icon {
    width: 24px; 
    height: 24px; 
    /* margin-right: 24px; */
}

.left-menu-item-minimize {
    margin: auto;
    stroke: white;
    stroke-width: 1px;
    line-height: 1.4rem;
    padding: 16px 0 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.left-menu-item-minimize-selected {
    margin: auto;
    fill: white;
    line-height: 1.4rem;
    padding: 16px 0 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}