<style>
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  #header {
    height: 56px;
    padding: 0px;
  }
  #body {
    display: flex;
    background: #181818;
    color: white;
  }
  .relative-video-section {
    height: 100%;
    width: 30%;
    min-width: 300px;
  }
</style>

<div class="app">
  <div id="header">
    <page-header
      (onClickHambegerEmitter)="listenToggleHambegerEmit($event)"
    ></page-header>
  </div>

  <div style="display: flex">
    <!-- left column -->
    <div style="height: 100%; width: 70%">
      <video-player></video-player>
      <list-comment [videoID]="videoID"></list-comment>
    </div>

    <!-- right column -->
    <div class="relative-video-section">
      <relative-video [relativeVideos]="relativeVideos"></relative-video>
    </div>
  </div>
</div>
